/*  *{ */
    /* height: 0;
    columns: 0;
    width: 0; */
    /* padding: 10;
    margin: 10; */
/* }    */
/*  MEXER COM O DISPLAY PARA ALINHAR A PÁGINA */
/* Seletor wildcard (vale para todos) */
/* display: flex e align itens */
*{
    font-family: 'Courier New', Courier, monospace;
    /* display: flex;  */
    align-items: baseline;
    align-content: end;
    
}

 body{
    /* TODO */
    display: flex;
    flex: auto;
 }  
 
 header{
    /* VH = ViewPort-height */
    height: 10vh;
    width: 100%;
 }

 main{
    height: 90%;
    width: 100%;
 }

/* Seletor por elementos encadeados */
/* No html fica H1 depois a section */
section+h1{   
    background-color: blue;
}

/* Seletor por classe */
.formulario {
    background-color: pink;
}

/* Seletor por id */
#cep{
    background-color: yellow;
}

[name]{
    background-color: gray;    
    display: flex;
}

/* Seletor por elemento (tag) */
h1{
    background-color: rgb(149, 226, 175);
}

/* COR DOS CAMPOS DE TEXTO interno */
input[type = "text"]{
    background-color: royalblue;
    display: flex   ;

}

.formulario{
    /* propriedade !importante */
    background-color: pink;
    color: green;
}

/* Seletor por classe */
.texto-destaque{
    font-weight: bold;
    font-style: italic;
    color: fuchsia;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;    
}
/* div{estilo que eu quero  } */
/* qualquer class é .nome da class */
/* Por id  #nome */

